// Main Content
.main-content {
	.registrants {
		padding:30px;
		background:#fff;
		border:1px solid #ccc;
		@include border-radius(3px);
	}
	.empty-wrap {
		font-size: 22px;
		text-align: center;
		color: #7D7D7D;
		padding: 80px 0;
		border: 2px dashed #C3C3C3;
		@include border-radius(3px);
	}
}